.container{
  display: flexbox;
}
.trade-button{
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

img{
  display: block;
  margin-left: 125px!important;
  margin-top: -20px!important;
}

.left-side{
  display: block;
  width: 100%;
  height: 215px;
}

.right-side{
  display: block;
  width: 100%;
  height: 150px;
}

.list-group{
  width: 100%;
}

span{
  color: gray;
  font-size: 0.75em;
}

.buy{
  background-color: green!important;
}

.sell{
  background-color: red!important;
}